!!! 5
%html
  %head
    %title= "Your Website"
    %link{:rel => "stylesheet", :href => "../styles/styles.css"}
  %body
    %form 
      %h1 Grid Settings
      %label{:for => "gs-baseline-grid-size"} Baseline every
      %input#gs-baseline-grid-size{type: "number", name: "gs-baseline-grid-size", value: "18"}
      %input{type: "reset", value: "reset"} 
      %input{type: "reset", value: "update"} 

    %a{:href => "#"} GS Grid Overlay by Grid Shift 

    %script{src: "../scripts/popup.js"}