!!! 5
%html
  %head
    %title= "Your Website"
    %link{:rel => "stylesheet", :href => "../styles/styles.css"}
  %body
    %p GS Grid Overlay controls will be here

    %script{src: "../scripts/popup.js"}